{# templates/product/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Dodaj nowy produkt{% endblock %}

{% block body %}
<h1>Dodaj nowy produkt</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-success">Zapisz</button>
{{ form_end(form) }}
<a href="{{ path('product_index') }}">Powrót do listy produktów</a>
{% endblock %}
